<section class="container blog-wrapper">
    <div class="blog-item blog-post1">
        <div class="blog-item__img">
            <img src="" alt="">
        </div>
        <div class="blog-item__desc">
            <time class="blog-post__time">29 February</time>
            <span class="blog-post__author">
                by admin
            </span>
            <h3>
                Here's how to get the most out <br>
                of a Liverpool city!
            </h3>
            <p>
                Travel is the movement of people between <br> 
                relatively distant geographical locations, and <br> 
                can involve travel by foot.
            </p>
            <div class="sidebar-small">
                <ul>
                    <li class="sidebar-small__share"></li>
                    <li class="sidebar-small__like"></li>
                    <li class="sidebar-small__comment"></li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="blog-item blog-post2">
        <div class="blog-item__img">
            <img src="" alt="">
        </div>            
        <div class="blog-item__desc">
            <time class="blog-post__time">29 February</time>
            <span class="blog-post__author">                    
                by admin
            </span>
            <h3>
                Why Travel is Important If you've <br>
                grown up with all the comforts ?                
            </h3>
            <p>
                Travel is the movement of people between <br> 
                relatively distant geographical locations, and <br> 
                can involve travel by foot.
            </p>
            <div class="sidebar-small">
                <ul>
                    <li class="sidebar-small__share"></li>
                    <li class="sidebar-small__like"></li>
                    <li class="sidebar-small__comment"></li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="blog-item blog-post3">
        <div class="blog-item__img">
            <img src="" alt="">
        </div>                        
        <div class="blog-item__desc">
            <time class="blog-post__time">29 February</time>
            <span class="blog-post__author">                    
                by admin
            </span>
            <h3>
                Travelling, for me, is same as <br>
                reading books.                
            </h3>
            <p>
                Travel is the movement of people between <br> 
                relatively distant geographical locations, and <br> 
                can involve travel by foot.
            </p>
            <div class="sidebar-small">
                <ul>
                    <li class="sidebar-small__share"></li>
                    <li class="sidebar-small__like"></li>
                    <li class="sidebar-small__comment"></li>
                </ul>                
            </div>
        </div>
    </div>
</section>