<section class="container--blog">
    <div class="blog-wrapper">
        <div class="blog-post">
            <img class="blog-post__img" src="../assets/img/blog-post-1.jpg" alt="">
            <div class="blog-post__desc">
                <time class="blog-info">29 February</time>
                <span class="blog-info">
                    by admin
                </span>
                <h3 class="blog-title">
                    Here's how to get the most out <br>
                    of a Liverpool city!
                </h3>
                <p class="blog-text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <div class="sidebar-small">
                    <ul>
                        <li class="sidebar-item sidebar-small__comment"></li>
                        <li class="sidebar-item sidebar-small__like"></li>
                        <li class="sidebar-item sidebar-small__share"></li>
                    </ul>                
                </div>
            </div>
        </div>
        <div class="blog-post">
            <img class="blog-post__img" src="../assets/img/blog-post-2.jpg" alt="">
            <div class="blog-post__desc">
                <time class="blog-info">29 February</time>
                <span class="blog-info">                    
                    by admin
                </span>
                <h3 class="blog-title">
                    Why Travel is Important If you've <br>
                    grown up with all the comforts ?                
                </h3>
                <p class="blog-text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <div class="sidebar-small">
                    <ul>
                        <li class="sidebar-item sidebar-small__comment"></li>
                        <li class="sidebar-item sidebar-small__like"></li>
                        <li class="sidebar-item sidebar-small__share"></li>
                    </ul>                
                </div>
            </div>
        </div>
        <div class="blog-post">
            <img class="blog-post__img" src="../assets/img/blog-post-3.jpg" alt="">
            <div class="blog-post__desc">
                <time class="blog-info">29 February</time>
                <span class="blog-info">                    
                    by admin
                </span>
                <h3 class="blog-title">
                    Travelling, for me, is same as <br>
                    reading books.                
                </h3>
                <p class="blog-text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <div class="sidebar-small">
                    <ul>
                        <li class="sidebar-item sidebar-small__comment"></li>
                        <li class="sidebar-item sidebar-small__like"></li>
                        <li class="sidebar-item sidebar-small__share"></li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
</section>