<section class="container--footer">
    <div class="footer-wrapper">
        <div class="footer-wrapper-main">
            <div class="footer-contacts ftr-block">
                <div class="contacts__logo">
                    <img src="../assets/img/icons/top-logo.png" alt="">
                </div>
                <ul>
                <li class="contacts__phone">
                    Phone: +91 254 541 254
                </li>
                <li class="contacts__fax">
                    Fax : +44 161 999 8888
                </li>
                <li class="contacts__email">
                    Email: dreamland@dream.com
                </li>
                </ul>
                <div class="social-btns">
                    <div class="social-btns__fb social-icon">
                        <a href="https://facebook.com/" target="_blank" title="Facebook"></a>
                    </div>
                    <div class="social-btns__pin social-icon">
                        <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                    </div>
                    <div class="social-btns__insta social-icon">
                        <a href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                    </div>
                    <div class="social-btns__twitter social-icon">
                        <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                    </div>
                    <div class="social-btns__google social-icon">
                        <a href="https://www.google.com./" target="_blank" title="Google+"></a>
                    </div>
                </div>
            </div>
            <div class="footer-support ftr-block">
                <h2 class="footer-heading">
                    Support
                </h2>
                <ul class="footer-text">
                    <li><a href="#">Email Contact</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Live chat</a></li>
                    <li><a href="#">Our Community</a></li>
                    <li><a href="#">Services Status</a></li>
                </ul>
            </div>
            <div class="footer-location ftr-block">
                <h2 class="footer-heading">
                    Location
                </h2>
                <ul class="footer-text">
                    <li><a href="#">London</a></li>
                    <li><a href="#">Canada</a></li>
                    <li><a href="#">America</a></li>
                    <li><a href="#">India</a></li>
                    <li><a href="#">Australia</a></li>
                    </ul>
            </div>
            <div class="footer-menu ftr-block">
                <h2 class="footer-heading">
                    Menu
                </h2>
                <nav class="bottom-menu">
                    <ul class="footer-text">
                        <li class="bottom-menu__item"><a href="#">Home</a></li>
                        <li class="bottom-menu__item"><a href="#">Tours</a></li>
                        <li class="bottom-menu__item"><a href="#">Packages</a></li>
                        <li class="bottom-menu__item"><a href="#">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-wrapper-bottom">
            <div class="copyright">
                @ 2018 Roy Design. All Rights Reserved 
            </div>
            <div class="footer-nav">
                <ul>
                    <li class="footer-nav__item"><a href="">About Hoststar</a></li>
                    <li class="footer-nav__item"><a href="">Privacy Policy</a></li>
                    <li class="footer-nav__item"><a href="">Help Center</a></li>
                    <li class="footer-nav__item"><a href="">Terms</a></li>
                    <li class="footer-nav__item"><a href="">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>