<section class="container footer">
    <div class="footer-main-wrapper">
        <div class="footer-contacts">
            <div class="contacts__logo">
                <img src="" alt="">
            </div>
            <span class="contacts__phone">
                Phone: +91 254 541 254
            </span>
            <span class="contacts__fax">
                Fax : +44 161 999 8888
            </span>
            <span class="contacts__email">
                Email: dreamland@dream.com
            </span>
            <ul class="social-btns--footer">
                <li class="social__fb">
                    <a href="https://facebook.com/" target="_blank" title="Facebook"></a>
                </li>
                <li class="social__pin">
                    <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                </li>
                <li class="social__insta">
                    <a href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                </li>
                <li class="social__twitter">
                    <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                </li>
                <li class="social__google">
                    <a href="https://www.google.com./" target="_blank" title="Google+"></a>
                </li>
            </ul>
        </div>
        <div class="footer-support">
            <h2 class="footer-heading">
                Support
            </h2>
            <ul class="footer-text">
                <li><a href="#">Email Contact</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Live chat</a></li>
                <li><a href="#">Our Community</a></li>
                <li><a href="#">Services Status</a></li>
            </ul>
        </div>
        <div class="footer-location">
            <h2 class="footer-heading">
                Location
            </h2>
            <ul class="footer-text">
                <li><a href="#">London</a></li>
                <li><a href="#">Canada</a></li>
                <li><a href="#">America</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">Australia</a></li>
                </ul>
        </div>
        <div class="footer-menu">
            <h2 class="footer-heading">
                Menu
            </h2>
            <nav class="menu--bottom">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tours</a></li>
                    <li><a href="#">Packages</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-bottom-wrapper">
        <div class="copyright">
            <!-- add :before element for the @ -->
            2018 Roy Design. All Rights Reserved 
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="">About Hoststar</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Site Map</a></li>
            </ul>
        </div>
    </div>
</section>