<section class="section header">
    <div class="top-bar">
        <div class="menu-primary">
            <ul class="social-btns--header">
                <li class="social__fb">
                    <a href="https://facebook.com/" target="_blank" title="Facebook"></a>
                </li>
                <li class="social__pin">
                    <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                </li>
                <li class="social__insta">
                    <a href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                </li>
                <li class="social__twitter">
                    <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                </li>
                <li class="social__google">
                    <a href="https://www.google.com./" target="_blank" title="Google+"></a>
                </li>
            </ul>
            <div class="header-address">
                <!-- add :before for the icon -->
                <p>
                    1835 73rd Ave NE, Medina, Washington, USA.
                </p>
            </div>
            <div class="header-authorization">
                <button class="auth-item__login">Login</button>
                <button class="auth-item__reg">Register</button>
            </div>
        </div>
        <div class="menu-secondary">
            <div class="top-logo">
                <img src="" alt="">
            </div>
            <nav class="menu--top">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tours</a></li>
                    <li><a href="#">Packages</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>