<section class="container--home">
    <div class="home-wrapper">
        <div class="header">
            <div class="menu-primary">
                <div class="social-btns">
                    <div class="social-btns__fb social-icon">
                        <a href="https://facebook.com/" target="_blank" title="Facebook"></a>
                    </div>
                    <div class="social-btns__pin social-icon">
                        <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                    </div>
                    <div class="social-btns__insta social-icon">
                        <a href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                    </div>
                    <div class="social-btns__twitter social-icon">
                        <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                    </div>
                    <div class="social-btns__google social-icon">
                        <a href="https://www.google.com./" target="_blank" title="Google+"></a>
                    </div>
                </div>
                <div class="header-auth">
                    <button class="header-auth auth__log">Login</button>
                    <button class="header-auth auth__reg">Register</button>
                </div>
                <div class="header-address">
                    <p>
                        1835 73rd Ave NE, Medina, Washington, USA.
                    </p>
                </div>
            </div>
            <div class="menu-secondary">
                        <div class="top-logo">
                        </div>
                        <nav class="top-menu">
                            <ul>
                                <li class="top-menu__item"><a href="#">Home</a></li>
                                <li class="top-menu__item"><a href="#">Tours</a></li>
                                <li class="top-menu__item"><a href="#">Packages</a></li>
                                <li class="top-menu__item"><a href="#">Blog</a></li>
                            </ul>
                        </nav>
            </div>
        </div>
        <div class="heading-wrapper">
            <div class="heading-phone">
                +91 254 587 485
            </div>
            <h2 class="heading-title">
                Book a Ticket & Just Leave!
            </h2>
            <p class="heading-text">
                Travel is the movement of people between relatively distant geographical locations,<br> 
                and can involve travel by foot,bicycle, automobile, train, boat, bus.
            </p>
            <button class="heading-button">
                <!-- place for :before with the btn icon -->
                Get ticket
            </button>
        </div>
        <div class="searchform-wrapper">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Hotel')">Hotel</button>
                <button class="tablinks" onclick="openTab(event, 'Tours')">Tours</button>
                <button class="tablinks" onclick="openTab(event, 'Package')">Package</button>
            </div>
            
            <!-- Tab content -->
            <div id="Hotel" class="tabcontent">
                <form class="search-wrap" action="">
                    <label class="search-item" for="search-city">Where?<br>
                        <input class="search-field" type="text" name="location" placeholder="Choose city" id="search-city">
                    </label>
                    <label class="search-item" for="search-hotel">Which?<br>
                        <input class="search-field" type="text" name="city" placeholder="Choose hotel" id="search-hotel">
                    </label>
                    <label class="search-item" for="search-checkin">Check-in<br>
                        <input class="search-field" type="date" name="checkin" id="search-checkin">
                    </label>
                    <label class="search-item" for="search-checkout">Check-out<br>
                        <input class="search-field" type="date" name="checkout" id="search-checkout">
                    </label>
                    <button class="search-btn">Search</button>
                </form>
            </div>
            <div id="Tours" class="tabcontent">
                <form class="search-wrap" action="">
                    <label class="search-item" for="search-location">Where?<br>
                        <input class="search-field" type="text" name="location" placeholder="Choose location" id="search-location">
                    </label>
                    <label class="search-item" for="search-city">Which?<br>
                        <input class="search-field" type="text" name="city" placeholder="Choose city" id="search-city">
                    </label>
                    <label class="search-item" for="search-start">Start<br>
                        <input class="search-field" type="date" name="tour-start" id="search-start">
                    </label>
                    <label class="search-item" for="search-end">End<br>
                        <input class="search-field" type="date" name="tour-end" id="search-end">
                    </label>
                    <button class="search-btn">Search</button>
                </form>
            </div>
            <div id="Package" class="tabcontent">
                <form class="search-wrap" action="">
                    <label class="search-item" for="search-location">Where?<br>
                        <input class="search-field" type="text" name="location" placeholder="Choose location" id="search-location">
                    </label>
                    <label class="search-item" for="search-city">Which?<br>
                        <input class="search-field" type="text" name="city" placeholder="Choose city" id="search-city">
                    </label>
                    <label class="search-item" for="search-checkin">Check-in<br>
                        <input class="search-field" type="date" name="checkin" id="search-checkin">
                    </label>
                    <label class="search-item" for="search-checkout">Check-out<br>
                        <input class="search-field" type="date" name="checkout" id="search-checkout">
                    </label>
                    <button class="search-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>