<section class="container home-wrapper">
    <div class="heading-wrapper">
        <div class="heading-phone">
            +91 254 587 485
        </div>
        <h2 class="heading-title">
            Book a Ticket & Just Leave!
        </h2>
        <p class="heading-text">
            Travel is the movement of people between relatively distant geographical locations,<br> 
            and can involve travel by foot,bicycle, automobile, train, boat, bus.
        </p>
        <button>
            <!-- place for :before with the btn icon -->
            Get ticket
        </button>
    </div>
    <div class="searchform-wrapper">
        <!-- your form using js here :) -->
    </div>
</section>