<section class="container home-wrapper header-wrapper">
    <div class="header">
        <div class="menu-primary">
            <ul class="social-btns--header">
                <li class="social__fb">
                    <a href="https://facebook.com/" target="_blank" title="Facebook"></a>
                </li>
                <li class="social__pin">
                    <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                </li>
                <li class="social__insta">
                    <a href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                </li>
                <li class="social__twitter">
                    <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                </li>
                <li class="social__google">
                    <a href="https://www.google.com./" target="_blank" title="Google+"></a>
                </li>
            </ul>
            <div class="header-address">
                <!-- add :before for the icon -->
                <p>
                    1835 73rd Ave NE, Medina, Washington, USA.
                </p>
            </div>
            <div class="header-authorization">
                <button class="auth-item__login">Login</button>
                <button class="auth-item__reg">Register</button>
            </div>
        </div>
        <div class="menu-secondary">
                    <div class="top-logo">
                        <img src="" alt="">
                    </div>
                    <nav class="menu--top">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Tours</a></li>
                            <li><a href="#">Packages</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </nav>
        </div>
    </div>
    <div class="heading-wrapper">
        <div class="heading-phone">
            +91 254 587 485
        </div>
        <h2 class="heading-title">
            Book a Ticket & Just Leave!
        </h2>
        <p class="heading-text">
            Travel is the movement of people between relatively distant geographical locations,<br> 
            and can involve travel by foot,bicycle, automobile, train, boat, bus.
        </p>
        <button>
            <!-- place for :before with the btn icon -->
            Get ticket
        </button>
    </div>
    <div class="searchform-wrapper">
        <!-- your form using js here :) -->
    </div>
</section>