<section class="container packages-wrapper">
    <div class="best-packages-wrapper">
        <div class="best-packages__text">
            <p>
            50% OFF Discount 10-30% Off
            </p>
            <h2>
                Best Holiday Packages
            </h2>
            <p>
                Find your ideal holiday package whether you're travelling in <br> 
                Australia or around the World. Book Flights & Accommodation <br> 
                packages in one place with Escape Travel.
            </p>
            <button>
                Read more
            </button>
        </div>
        <div class="best-packages__img">
            <img src="" alt="">
        </div>
    </div>
    <div class="discount-wrapper">
        <h2>
            30% Discount, stock limited
        </h2>
        <p>
            The world's largest student and youth travel agency. Find cheap flights, tours, Spring Break packages <br> 
            and exclusive travel deals for studentsTake full advantage of privileged discount rates.
        </p>
        <button>
            <!-- place for :before with the btn icon -->
            Get ticket
        </button>
        <div class="discount-counter">
            <div class="counter__days">
                <h4>
                    364
                </h4>
                <p>
                    Days
                </p>
            </div>
            <div class="counter__hours">
                <h4>
                    23
                </h4>
                <p>
                    Hours
                </p>
            </div>
            <div class="counter__minutes">
                <h4>
                    59
                </h4>
                <p>
                    Minutes
                </p>
            </div>
            <div class="counter__seconds">
                <h4>
                    59
                </h4>
                <p>
                    Seconds
                </p>
            </div>
        </div>
    </div>
    <div class="big-deal-wrapper">
        <h2>
            It’s a big deal!
        </h2>
        <p class="big-deal__text">
            Subscribe our news letter
        </p>
        <div class="big-deal__form">
            <form action="" class="subscription-item">
                <input type="email" name="user-email" placeholder="Enter your email">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="big-deal__video">
            <video src="">
                
            </video>
        </div>
    </div>
</section>