<section class="container--packages">
    <div class="best-packages packages-wrap">
        <div class="best-packages__text">
            <p class="pack-discount">
            50% off discount
            </p>
            <h2 class="pack-title">
                Best Holiday Packages
            </h2>
            <p class="pack-text">
                Find your ideal holiday package whether you're travelling in <br> 
                Australia or around the World. Book Flights & Accommodation <br> 
                packages in one place with Escape Travel.
            </p>
            <button class="pack-btn">
                Read more
            </button>
        </div>
        <div class="best-packages__img">
            <img src="../assets/img/best-packages-img.jpg" alt="">
        </div>
    </div>
</section>
<section class="container--discount">
    <div class="discount-wrapper">
        <h2 class="wrap-title">
            30% Discount, stock limited
        </h2>
        <p class="wrap-text">
            The world's largest student and youth travel agency. Find cheap flights, tours, Spring Break packages <br> 
            and exclusive travel deals for studentsTake full advantage of privileged discount rates.
        </p>
        <button class="disc-btn">
            Get ticket
        </button>
        <div class="discount-counter">
            <div class="discount-counter__days count-item">
                <h4 class="count-item__number">
                    364
                </h4>
                <p>
                    Days
                </p>
            </div>
            <div class="discount-counter__hours count-item">
                <h4 class="count-item__number">
                    23
                </h4>
                <p>
                    Hours
                </p>
            </div>
            <div class="discount-counter__minutes count-item">
                <h4 class="count-item__number">
                    59
                </h4>
                <p>
                    Minutes
                </p>
            </div>
            <div class="discount-counter__seconds count-item">
                <h4 class="count-item__number">
                    59
                </h4>
                <p>
                    Seconds
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container--offer">
    <div class="big-deal-wrapper">
        <h2 class="big-deal__heading">
            It’s a big deal!
        </h2>
        <p class="big-deal__text">
            Subscribe our news letter
        </p>
        <form action="" class="big-deal__form">
            <input type="email" name="user-email" placeholder="Enter your email">
            <button type="submit">Submit</button>
        </form>
        <div class="big-deal__prewiev">
            <img src="../assets/img/big-deal-img.jpg" alt="">
        </div>
    </div>
</section>