<section class="container tours-wrapper">
    <div class="popular-place-wrapper">
        <h2>
            Popular place
        </h2>
        <div class="popular-slider">
            <div class="popular-slide1">
                <div class="popular-slide1__img">
                    <img src="" alt="">
                </div>
                <div class="popular-slide1__text">
                    <h3>Mancity, England</h3>
                </div>
            </div>
            <div class="popular-slide2">
                <div class="popular-slide2__img">
                    <img src="" alt="">
                </div>
                <div class="popular-slide2__text">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                    <!-- :after element with the icon -->
                </div>
            </div>
            <div class="popular-slide3">
                <div class="popular-slide3__img">
                    <img src="" alt="">
                </div>
                <div class="popular-slide3__text">
                    <h3>Mancity, England</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-destinations-wrapper">
        <h2>
            Most Popular Travel Destinations
        </h2>
        <p>
            Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
            information and inspiration from Lonely Planet
        </p>
        <div class="destinations-slider">
            <div class="destinations-slide__img">
                <img src="" alt="">
                <!-- add strelochki with :before / :after here -->
            </div>
            <div class="destinations-slide__sidebar">
                <h3 class="slider-heading">
                    Grand Switzerland
                </h3>
                <ul class="sidebar-large">
                    <li class="sidebar-large__view"></li>
                    <li class="sidebar-large__like"></li>
                    <li class="sidebar-large__comment"></li>
                    <li class="sidebar-large__share"></li>
                    <li class="sidebar-large__video"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="honeymoon-destinations-wrapper">
        <h2>
            Destinations for Honeymoon
        </h2>
        <p>
            Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
            information and inspiration from Lonely Planet
        </p>
        <div class="honeymoon-slider">
            <div class="honeymoon-slide1">
                <div class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">
                        $560
                    </p>
                    <p>
                        <!-- icon with :before here -->
                        2 days 2night
                    </p>
                    <p>
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>
                    <span class="slider-rate">
                        <img src="" alt="">
                    </span>
                    <button class="slider-btn">
                        More Details
                    </button>
                </div>
                <div class="honeymoon-slide__img">
                    <img src="" alt="">
                    <div class="sidebar-small">
                        <ul>
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="honeymoon-slide2">
                <div class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">
                        $560
                    </p>
                    <p>
                        <!-- icon with :before here -->                        
                        2 days 2night
                    </p>
                    <p>
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <span class="slider-rate">
                        <img src="" alt="">
                    </span>
                    <button class="slider-btn">
                        More Details                    
                    </button>
                </div>
                <div class="honeymoon-slide__img">
                    <img src="" alt="">
                    <div class="sidebar-small">
                        <ul>
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="honeymoon-slide3">
                <div class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">                            
                        $560
                    </p>
                    <p>
                        <!-- icon with :before here -->                        
                        2 days 2night
                    </p>
                    <p>                            
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <span class="slider-rate">
                        <img src="" alt="">
                    </span>
                    <button class="slider-btn">                            
                        More Details                    
                    </button>
                </div>
                <div class="honeymoon-slide__img">
                    <img src="" alt="">
                    <div class="sidebar-small">
                        <ul>                                
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>