<section class="container">
    <div class="tours-wrapper">
        <div class="popular-place-wrapper">
            <h2 class="section-title">
                Popular place
            </h2>
            <div class="popular-slider">
                <figure class="popular-slide">
                    <img class="popular-slide__img" src="./assets/img/popular-slide-1.jpg" alt="dorou">
                    <figcaption class="popular-slide__info">
                        <div class="pop-info-wrap">
                            <p class="pop-info-price">
                                $500 2 days 2 night
                            </p>
                            <h3 class="pop-info-title">Mancity, England</h3>
                        </div>
                    </figcaption>
                </figure>
                <figure class="popular-slide">
                    <img class="popular-slide__img" src="./assets/img/popular-slide-2.jpg" alt="">
                    <figcaption class="popular-slide__info">
                        <div class="pop-info-wrap">
                            <p class="pop-info-price">
                                $500 2 days 2 night
                            </p>
                            <h3 class="pop-info-title">Mancity, England</h3>
                        </div>
                    </figcaption>
                </figure>
                <figure class="popular-slide">
                    <img class="popular-slide__img" src="./assets/img/popular-slide-3.jpg" alt="">
                    <figcaption class="popular-slide__info">
                        <div class="pop-info-wrap">
                            <p class="pop-info-price">
                                $500 2 days 2 night
                            </p>
                            <h3 class="pop-info-title">Mancity, England</h3>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="popular-destinations-wrapper">
            <h2 class="wrap-title">
                Most Popular Travel Destinations
            </h2>
            <p class="wrap-text">
                Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
                information and inspiration from Lonely Planet
            </p>
        </div>
    </div>
</section>

<section class="container dest-slider-wrap">
    <figure class="destinations-slider">
        <img class="destinations-slider__img" src="/assets/img/destinations-slide.jpg" alt="">
        <!-- add strelochki with :before / :after here -->
        <figcaption class="destinations-slider__sidebar">
            <h3 class="slider-heading">
                Grand Switzerland
            </h3>
            <ul class="sidebar-large">
                <li class="sidebar-item sidebar-large__view"></li>
                <li class="sidebar-item sidebar-large__like"></li>
                <li class="sidebar-item sidebar-large__comment"></li>
                <li class="sidebar-item sidebar-large__share"></li>
                <li class="sidebar-item sidebar-large__video"></li>
            </ul>                
        </figcaption>
    </figure>
</section>

<section class="container honeymoon-destinations-wrapper">
        <h2 class="wrap-title">
                Destinations for Honeymoon
        </h2>
        <p class="wrap-text">
                Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
                information and inspiration from Lonely Planet
        </p>
        <div class="honeymoon-slider-wrapper">
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-1.jpg" alt="">
                <figcaption class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">
                        $560
                    </p>
                    <p>                      
                        2 days 2 night
                    </p>
                    <p>
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="slider-btn">
                        More Details                    
                    </button>
                    <div class="sidebar-small">
                        <ul>
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>                            
                        </ul>
                    </div>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-2.jpg" alt="">
                <figcaption class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">
                        $560
                    </p>
                    <p>                      
                        2 days 2 night
                    </p>
                    <p>
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="slider-btn">
                        More Details                    
                    </button>
                    <div class="sidebar-small">
                        <ul>
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>                            
                        </ul>
                    </div>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-3.jpg" alt="">
                <figcaption class="honeymoon-slide__text">
                    <h3 class="slider-heading">
                        Switzerland
                    </h3>
                    <p class="slider-price">
                        $560
                    </p>
                    <p>                      
                        2 days 2 night
                    </p>
                    <p>
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="slider-btn">
                        More Details                    
                    </button>
                    <div class="sidebar-small">
                        <ul>
                            <li class="sidebar-small__share"></li>
                            <li class="sidebar-small__like"></li>
                            <li class="sidebar-small__comment"></li>                            
                        </ul>
                    </div>
                </figcaption>
            </figure>
        </div>
</section>