.footer-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 120px 0 45px;

    li {
        padding: 15px 0 15px;
    }

    &-main {
        padding-bottom: 280px;
        border-bottom: 1px solid #ffffff23;

        .ftr-block {
            display: inline-block;
            vertical-align: top;
            padding: 0 100px 0;

            &:first-child {
                padding-left: 0;
            }
        }

        .footer {

            &-heading {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                text-transform: uppercase;

                &::after {
                    content: " ";
                    display: block;
                    width: 24px;
                    margin-top: 15px;
                    border: 1px solid #ffc001;
                }
            }

            &-text {
                color: #bababa;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding-top: 30px;

                a:hover {
                    color: #ffc001;
                }
            }

            &-contacts {

                li {
                    padding: 10px 0 10px;
                }

                .contacts-wrap {
                    padding: 45px 0 45px;
                }
            }
        }
    }

    &-bottom {
        color: #ffffff;
        opacity: 0.5;
        padding-top: 50px;

        .copyright {
            float: left;
        }

        .footer-nav {
            float: right;

            &__item {
                display: inline-block;
                padding: 0 15px 0;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}