.home-wrapper {
    margin: 0 auto;
    width: 1170px;
}

.header {
    color: #ffffff;

    .menu-primary,
    .menu-secondary {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .social-btns {
        display: inline-block;

        &__fb {
            width: 7px;
            height: 12px;
            background-image: url(../img/icons/facebook-icon.png)
        }

        &__pin {
            width: 11px;
            height: 11px;
            background-image: url(../img/icons/pinterest-icon.png)
        }

        &__insta {
            width: 11px;
            height: 11px;
            background-image: url(../img/icons/instagam-icon.png)
        }

        &__twitter {
            width: 11px;
            height: 9px;
            background-image: url(../img/icons/twitter-icon.png)
        }

        &__google {
            width: 16px;
            height: 11px;
            background-image: url(../img/icons/google-icon.png)
        }
    }

    .header-address {
        float: right;
        padding: 10px 50px 10px 25px;
        background-image: url(../img/icons/header-location-icon.png);
        background-position: left center;
        background-repeat: no-repeat;
    }
    
    .header-auth {
        float: right;
        text-transform: uppercase;
        color: #ffffff;
        padding: 5px 10px;

        .auth__reg {
            border-right: 2px solid #ffdd00;;
        }

        .auth__log {
            padding-right: 0;
        }

            &::after {
                content: "";
                display: table;
                clear: both;
            }
    }

    .top-logo {
        display: inline-block;
        width: 170px;
        height: 60px;
        background-image: url(../img/icons/top-logo.png);
        background-repeat: no-repeat;
    }

    .top-menu {
        float: right;
        margin-top: 15px;

        &__item {
            display: inline-block;
            text-transform: uppercase;
            font-size: 18px;
            padding: 10px 40px;

            &:last-child {
                padding-right: 10px; 
            }
        }
    }
}

.heading-wrapper {
    padding-top: 280px;
    padding-bottom: 280px;
    color: #ffffff;
    backdrop-filter: blur(1px);
    background-attachment: fixed;

    .heading {
        
        &-phone {
            height: 16px;
            color: #ffc001;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.3px;
            line-height: 30px;
        }

        &-title {
            font-size: 48px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 30px;
            line-height: 21px;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.24px;
            line-height: 30px;
        }

        &-button {
            margin-top: 45px;
            color: #ffc001;
            font-weight: 700;
            font-size: inherit;
            text-transform: uppercase;
            padding: 15px 30px;
            border: 1px solid #ffffff;
            border-radius: 25px;

            &:hover {
                background-color: #ffc001;
                color: #ffffff;
            }
        }

    }
}

.searchform-wrapper {
    /* Style the tab */
    .tab {
        border-left: 25px solid #ffc001;
        display: inline-block;
        overflow: hidden;
        background-color: #ffffff;
    }
    
    /* Style the buttons that are used to open the tab content */
    .tab button {    
        font-family: inherit;
        color: #333333;
        font-weight: 400;
        border-right: 1px solid #333333;
        text-transform: uppercase;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 15px 25px;
        transition: 0.3s;

        &:last-child {
            border: none;
        }
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ffc001;
        color: #ffffff;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ffc001;
        color: #ffffff;
        font-weight: 700;
    }
    
    /* Style the tab content */
    .tabcontent {  
        position: relative;  
        border-left: 25px solid #ffc001;
        color: #333333;
        background-color: #fafafa;
        display: none;
        text-transform: uppercase;
        padding: 50px 30px;
    }

    .search-wrap {
        width: 97%;

        .search {

            &-item {
                display: inline-block;
                width: 24%;
            }
        

            &-field {
                margin: 15px 0;
                background-color: #ffffff;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.21px;
            }

            &-btn {
                position: absolute;
                top: 75px;
                right: -30px;
                transform: rotate(90deg);
                text-transform: uppercase;
                background-color: #ffc001;
                color: #fdfdfd;
                padding: 5px 10px;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 3.25px;
            }
        }
    }
}

